{% extends 'core/base.html' %}

{% block title %}
  {{ producto.name }}
{% endblock %}

{% block content %}
  <div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
      <img src="{{ producto.image.url }}" alt="{{ producto.name }}" class="rounded-xl h-[32rem] mx-auto" />
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
      <h1 class="mb-6 text-3xl">{{ producto.name }}</h1>
      <p class="text-gray-500">
        <strong>Precio:</strong> {{ producto.price }}
      </p>
      <p class="text-gray-500">
        <strong>Vendedor:</strong> {{ producto.created_by.username }}
      </p>

      {% if producto.description %}
        <p class="text-gray-700">
          <strong class="text-gray-500">Descripción:</strong><br />
          {{ producto.description }}
        </p>
      {% endif %}

      {% if request.user == producto.created_by %}
      <div class="mt-6 p-6 bg-white rounded-xl">
        <p>Este producto es tuyo.</p>
        <a href="{% url 'producto:editar' producto.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Editar</a>
        <button type="button" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl" id="btModalEliminar">Eliminar</a>
      </div>
      {% else %}
      <a href="{% url 'mensajes:nuevo' producto.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contactar vendedor</a>
      {% endif %}

      <div class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="modalEliminar">

        <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
      
        <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
          <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">

            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
              <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                  <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                    <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                    </svg>
                  </div>
                  <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
                    <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Eliminar {{ producto.name }}</h3>
                    <div class="mt-2">
                      <p class="text-sm text-gray-500">¿Está seguro que desea eliminar este producto?</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                <a href="{% url 'producto:eliminar' producto.id %}" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Eliminar</a>
                <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto" id="btCancelar">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Productos relacionados</h2>

    <div class="grid grid-cols-3 gap-3">
      {% for producto in productos_relacionados %}
      <div>
        <a href="{% url 'producto:detalles' producto.id %}">
          <div>
            <img src="{{ producto.image.url }}" alt="{{ producto.name }}" class="rounded-t-xl h-96 w-96">
          </div>

          <div class="p-6 bg-white rounded-b-xl w-96">
            <h2 class="text-2xl">{{ producto.name }}</h2>
            <p class="text-gray-500">Precio: C$ {{ producto.price }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <script>
      document.addEventListener("DOMContentLoaded", function () {
        const btModalEliminar = document.getElementById("btModalEliminar");
        const modal = document.getElementById("modalEliminar");
        const btCancelar = document.getElementById("btCancelar");
    
        btModalEliminar.addEventListener("click", function () {
          modal.classList.add("block");
          modal.classList.remove("hidden");
        });
    
        btCancelar.addEventListener("click", function () {
          modal.classList.add("hidden");
          modal.classList.remove("block");
        });
      });
    
  </script>
{% endblock %}
