{% extends 'core/base.html' %}
{% block title %}
Panel
{% endblock %}

{% block content %}
  <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl min-h-[28rem]">
    <h2 class="mb-12 text-2xl text-center">Mis productos</h2>
    {% if not productos %}
    <p class="text-xl font-semibold text-center">Todavía no está vendiendo productos.</p>
    {% endif %}

    <div class="grid grid-cols-3 gap-3">
      {% for producto in productos %}
      <div>
        <a href="{% url 'producto:detalles' producto.id %}">
          <div>
            <img src="{{ producto.image.url }}" alt="{{ producto.name }}" class="rounded-t-xl h-96 w-96">
          </div>

          <div class="p-6 bg-white rounded-b-xl w-96">
            <h2 class="text-2xl">{{ producto.name }}</h2>
            <p class="text-gray-500">Precio: C$ {{ producto.price }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}